body {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header ul {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.nav-center {
  color: black;
}

main {
  flex: 1;
  margin: 0 1rem;
  padding: 0 5rem;
}

footer {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-evenly;
}

footer a:link {
  color: black;
}

footer a:visited {
  color: black;
}

ul,
li {
  list-style-type: none;
}

.nav-left {
  margin-left: 4rem;
}

.nav-right {
  margin-right: 4rem;
  margin-top: 1.5rem;
}

#items {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.item {
  background-color: #d9d9d9;
  width: 290px;
  padding: 10px;
  margin-right: 0.5rem;
  margin-bottom: 2rem;
}

.item div {
  margin: 1rem;
}

.item button,
#rightPanel button {
  background-color: #69d467;
  width: 85%;
  padding: 5px;
}
.item button:hover,
#rightPanel button:hover {
  cursor: pointer;
}
#rightPanel button {
  margin-top: 30px;
  height: 50px;
  border-radius: 3px;
}
#rightPanel {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  z-index: 2;
}

.hidden {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Semi-transparent black */
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.bubble-container {
  position: relative;
  display: inline-block;
}
#cart_count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8em;
  transform: translate(50%, -50%);
}
.toast {
  visibility: hidden;
  min-width: 350px;
  margin-left: -125px;
  background-color: #69d467;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 40%;
  top: 30px;
  font-size: 17px;
}
.toast-header {
  font-weight: bold;
}
.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: faded in 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
#viewCart {
  color: white;
  font-weight: bold;
}
#optionsForm div {
  /* border: 2px solid pink; */
}
#optionsForm div h3 {
  margin-bottom: 5px;
  border-bottom: 1px solid;
}
#optionsForm div label {
  border-bottom: 5px;
  border: 2px solid;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  /* width: 20%; */
  width: 80px;
}
.option input[type="radio"] {
  display: none;
}

.option input[type="radio"]:checked + label {
  background-color: pink;
}

.option {
  display: flex;
  justify-content: space-evenly;
}

#shopping-cart-logo,
#shopping-bag-logo {
  width: 40px;
}
