*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

.container {
    margin: 0;
    width: 430px;
    max-width: 90%;
}

.container h1 {
    text-align: center;
    margin-bottom: 16px;
}

.container form {
    width: 100%;
    height: 45%;
    padding: 10px;
    border: 4px solid #0E6655;
    border-radius: 16px;
    background: white;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container form li {
    margin-top: 12px;
}

.container label {
    display: inline-block;
    width: 145px;
    text-align: right;
}

.container input,
.container textarea {
    padding-left: 10px;
    font-family: sans-serif;
    width: 250px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.container input:focus, 
.container textarea:focus {
    border-color: #000;
}
.container textarea {
    vertical-align: top;
    height: 5em;
}

.container button {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border: none;
    background: #117A65;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 4px;
}

.container form li.button {
    text-align: center;
}
