table {
  width: 500px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #d9d9d9;
}
th,
td {
  padding: 10px;
  text-align: left;
}
.column_1 {
  display: flex;
}
.column_1 img {
  width: 60px;
  margin-right: 20px;
}
.num_stepper {
  display: flex;
  border: 1px solid;
}
.main_container {
  display: flex;
  justify-content: space-between;
}
.summary {
  display: flex;
  background-color: #d9d9d9;
  flex-direction: column;
  width: 300px;
  padding: 0 10px;
}
.summary button {
  width: 80%;
  align-self: center;
  font-size: 1.5rem;
  background-color: #69d467;
}
.summary_details {
  display: flex;
  justify-content: space-between;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
#checkout_btn a {
  width: 100%;
  display: block;
}
#checkout_btn:hover {
  cursor: pointer;
}
